* {
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    min-width: 320px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-gap: .3em .3em;
  
    .inner {
        margin-top: .3em;
        padding-left: 1em;
        overflow: hidden;
        display: none;
    }
  
    li {              
        a.toggle {
            width: 100%;
            display: block;
            background: rgba(0,0,0,0.78);
            color: #fefefe;
            padding: .75em;
            border-radius: 0.15em;
            transition: background .3s ease;
          
            &:hover {
                background: rgba(0, 0, 0, 0.9);
            }
        }
    }
}