* {
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
    color: rgb(68, 68, 68);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    min-width:290px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-gap: .2em .2em;
  
    .inner {
        margin-top: .2em;
        padding-left: 1em;
        overflow: hidden;
        display: none;
    }

    &.varietal {
        border-left: 1px solid #ddd;
        list-style-type: initial;
        padding: .7em .7em .7em 2em;
        font-size: .9em;
    }
  
    li {              
        a.toggle {
            width: 100%;
            display: block;
            
            padding: .7em;
            border-radius: .2em;
            border: 1px solid #ddd;
            transition: background .3s ease;
          
            &:hover,
            &.active {
                background: rgba(68, 68, 68, 0.5);
                color: rgb(21, 101, 192);
                font-weight: bold;
            }
        }

        &.preps a{
            width: 94%;
        }
    }
}