* {
  box-sizing: border-box;
  font-family: 'Open Sans',sans-serif;
  color: #444444; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none;
  padding: 0;
  min-width: 290px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  grid-gap: .2em .2em; }
  ul .inner {
    margin-top: .2em;
    padding-left: 1em;
    overflow: hidden;
    display: none; }
  ul.varietal {
    border-left: 1px solid #ddd;
    list-style-type: initial;
    padding: .7em .7em .7em 2em;
    font-size: .9em; }
  ul li a.toggle {
    width: 100%;
    display: block;
    padding: .7em;
    border-radius: .2em;
    border: 1px solid #ddd;
    transition: background .3s ease; }
    ul li a.toggle:hover, ul li a.toggle.active {
      background: rgba(68, 68, 68, 0.5);
      color: #1565c0;
      font-weight: bold; }
  ul li.preps a {
    width: 94%; }
